*,
*::before,
*::after {
    box-sizing: border-box;
    box-sizing: inherit;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --crl-light: #EAEAEC;
    --clr-grey: #A6D9F7;
    --clr-dark: #150035;
    --crl-accent: #2080FB;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: .75rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 600px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(#FFFF);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    max-width: 100%;
}

strong  { 
    font-weight: var(--fw-bold); 
    color: black;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 0.25em;
    display:inline;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo__img {
    max-width: 50px;
}

.nav {
    position: fixed;
    background: linear-gradient(207deg, rgba(255,255,255,1) 0%, rgba(166,217,247,1) 50%, rgba(32,128,251,1) 100%, rgba(255,255,255,1) 100%); 
    opacity:0.975;     
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: #000000;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    text-decoration: none;
}

.nav__link:hover {
    color: #F0F8FF;
    -webkit-text-stroke: .5px black;
}

.nav-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    display: flex;
    padding: 1em;
    z-index: 1000;
    color: var(--crl-light);
    right: -.5em;
    justify-content: center;
    flex-direction: column;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburguer {
    transform: rotate(.625turn);
}

.nav-open .hamburguer::before {
    transform: rotate(90deg) translateX(-6px);
}


.nav-open .hamburguer::after {
    opacity: 0;
}

.hamburguer {
    display: block;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburguer::before { top: 6px; }
.hamburguer::after { bottom: 6px; }

.section__title {
    margin-bottom: .25em;
    margin-left: .25em;;
    margin-right: .25em;;

}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, 
.section__subtitle--about {
    background: var(--crl-accent);
    color: white;
    font-family: var(--ff-secondary);
    padding: 0.25em 1em;
    text-align: right;
}

.section__subtitle--work {
    color: var(--crl-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em ;
}

.intro {
    margin: 0 auto;
    align-self: center;
    padding: 2em;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-right: 0em;
    grid-column-gap: 2em;
}

.intro__title {
    display: grid;
    align-content: center;
}

.intro__txt {
    text-align: justify;
    text-justify: inter-word;
    align-content: center;
}

.intro__img {
    padding-right: 4em;
    display: grid;
    padding-top: 0em;
    margin: 0 auto;
    align-content: center;
    width: 100%;
}

.button__class {
    text-align: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    margin-right: 1.125em;
    margin-left: 1.125em;
    margin-bottom: 1.125em;

}

button.button__intro {
    font-weight: 450;
    color: black;
    text-transform: uppercase;
    padding: .94em 2.25em;
    background: white;
    border: 1.5px solid #150035;
    border-radius: 0.56em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button__intro::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2080FB;
    border-radius: inherit;
    box-shadow: 0 0 0 1.5px #150035, 0 0.47em 0 0 #A6D9F7;
    transform: translate3d(0, 0.56em, -.75em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button__intro:hover {
    background: #EAEAEC;
    transform: translate(0, 0.187em);
}

button.button__intro:hover::before {
    box-shadow: 0 0 0 1.5px #150035, 0 0.375em 0 0 #A6D9F7;
    transform: translate3d(0, 0.375em, -.75em);
}

button.button__intro:active {
    background: #EAEAEC;
    transform: translate(0em, 0.562em);
}

button.button__intro:active::before {
    box-shadow: 0 0 0 1.5px #150035, 0 0 #A6D9F7;
    transform: translate3d(0, 0, -.75em);
}


.arrows {
    visibility: visible;
    width: 60px;
    height: 72px;
    position: absolute;
    bottom: 80px;
    right: 20px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


@media (max-width: 800px) {
    .intro {
        display: inline-block;
        padding: 2em;
        margin-right: 3em;
        align-content: center;
    }
    
    .intro__txt {
        text-align: justify;
        text-justify: inter-word;
        align-content: center;
    }
    
    .intro__img{
        width: 250px;
        padding-top: 2em;
        padding-right: 0em;
        justify-content: center;

    }
    
    .button__class {
        text-align: center;
    }
    
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        font-size: inherit;
        font-family: inherit;
        margin-left: .75em;
        margin-right: .75em;
    }
    
    button.button__intro {
        font-weight: 300;
        color: black;
        text-transform: uppercase;
        padding: .75em 1.5em;
        background: white;
        border: 1px solid #150035;
        border-radius: 0.375em;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    
    button.button__intro::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2080FB;
        border-radius: inherit;
        box-shadow: 0 0 0 1px #150035, 0 0.312em 0 0 #A6D9F7;
        transform: translate3d(0, 0.375em, -.5em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    
    button.button__intro:hover {
        background: #EAEAEC;
        transform: translate(0, 0.125em);
    }
    
    button.button__intro:hover::before {
        box-shadow: 0 0 0 1px #150035, 0 0.25em 0 0 #A6D9F7;
        transform: translate3d(0, 0.25em, -.5em);
    }
    
    button.button__intro:active {
        background: #EAEAEC;
        transform: translate(0em, 0.375em);
    }
    
    button.button__intro:active::before {
        box-shadow: 0 0 0 1px #150035, 0 0 #A6D9F7;
        transform: translate3d(0, 0, -.5em);
    }
    
    .arrows{
        visibility: hidden;
    }
}

@media (max-width: 400px) {
    .logo__img{
        max-width: 30px;
    }

    .intro__img {
        display: none;
    }
    .intro {
        align-items: center;
    }

    .about-me {
        align-items: center;
    }

    .contact100-form {
        align-items: center;
    }
}

.wrap_about-me{
    margin: 0 auto;
    align-self: center;
}

.about-me {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 2em;
    margin-right: 2em;
    grid-column-gap: 2em;
}

.section__title--about {
    grid-area: title;
    font-weight: var(--fw-reg);
    font-size: var(--fs-h2);
}

.section__subtitle--about{
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    width: calc(100%);
    text-align: left;
}

.wrap_about-me__img{
    padding-right: 2em;
    z-index: 2;
    align-self: center;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (max-width:800px) {
    .about-me {
        display: inline-block;
        align-content: center;
        margin-right: 3em ;
    }
    
    .wrap_about-me__img{
        padding-right: 0em;
        z-index: 2;
        max-width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .wrap_about-me__img {
        display: none;
    }
}



.works {
    margin: 0 auto;
    align-self: center;

}

.section__title--portfolio {
    text-align: center;
}

.portfolio {
    display: grid; 
    position: relative;
    grid-template-columns: repeat(auto-fit,minmax(20vw,1fr));
    grid-column-gap: 1em;
    padding: 2em;
    margin-right: 2em;
}

.image {
    width: 100%;

}

.container_2keypass {
    position: relative;
    width:100%;
}

.overlay_2keypass {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #2080FB;
}

  .container_2keypass:hover .overlay_2keypass {
    opacity: .9;
  }

.keypass_text {
    color: white;
    font-size: var(--fs-h3);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon_2keypass {
    color: white;
    font-size: var(--fs-h2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.container_hojabola {
    position: relative;
    width: 100%;
}

.overlay_hojabola {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #2080FB;
}

  .container_hojabola:hover .overlay_hojabola {
    opacity: .9;
  }

.hojabola_text {
    color: white;
    font-size: var(--fs-h3);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon_hojabola {
    color: white;
    font-size: var(--fs-h2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container_CEVM {
    position: relative;
    width: 100%;
}

.overlay_CEVM {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #2080FB;
}

  .container_CEVM:hover .overlay_CEVM {
    opacity: .9;
  }

.CEVM_text {
    color: white;
    font-size: var(--fs-h3);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon_CEVM {
    color: white;
    font-size: var(--fs-h2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container_weatherapp {
    position: relative;
    width: 100%;
}

.overlay_weatherapp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #2080FB;
}

  .container_weatherapp:hover .overlay_weatherapp {
    opacity: .9;
  }

.weatherapp_text {
    color: white;
    font-size: var(--fs-h3);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon_weatherapp {
    color: white;
    font-size: var(--fs-h2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .footer {
    background: white;
    color: black;
    text-align: center;
    padding: 0 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: block
}

@media (max-width:400px) {
    .icon_CEVM {
        top:30%;
        font-size: var(--fs-h3);
    }

    .icon_weatherapp {
        top:30%;
        font-size: var(--fs-h3);
    }

    .keypass_text {
        font-size: var(--fs-body);
    }

    .hojabola_text{
        font-size: var(--fs-body);
    }

    .CEVM_text {
        top: 50%;
        font-size: var(--fs-body);
    }

    .weatherapp_text {
        top: 50%;
        font-size: var(--fs-body);
    }
}
.footer a { 
    color: inherit ;
    text-decoration: none;
}

.footer__link {
    font-size: 1.25em;
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 0em;
    padding: 0;
    font-size: 1.5em;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* --------------------------------------------------------------------------------------- */

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #aaaaaa; }
input:-moz-placeholder { color: #aaaaaa; }
input::-moz-placeholder { color: #aaaaaa; }
input:-ms-input-placeholder { color: #aaaaaa; }

textarea::-webkit-input-placeholder { color: #aaaaaa; }
textarea:-moz-placeholder { color: #aaaaaa; }
textarea::-moz-placeholder { color: #aaaaaa; }
textarea:-ms-input-placeholder { color: #aaaaaa; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: #FFFFFF;
}

.wrap-contact100 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 100px 100px 100px;
  align-items: center;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 350px;
  align-items: center;

}

.contact100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 500px;
}

.contact100-form-title {
  display: block;
  font-size: var(--fs-h2);
  color: #000000;
  line-height: 1.2;
  font-weight: var(--fw-bold);
  text-align: center;
  padding-bottom: 20px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 50px;
}

input.input100[name="email"] {
  padding: 0 30px 0 54px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
  resize: none;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #2080FB;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #2080FB;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #2080FB;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #150035;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    margin-right: 3em;
    padding: 110px 80px 157px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    margin-right: 3em;
    justify-content: center;
    padding: 0;
}
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}